@model LoginVM;

<!-- Register start -->
        <div class="register-area pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-text">
                                    <h2>log in</h2>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                                <div class="login-form">
                                    <form method="post">
                                        <div class="form-group">
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" placeholder="Email">
                                            <span class="text-danger mt-2" asp-validation-for="Email"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" placeholder="Password">
                                            <span class="text-danger mt-2" asp-validation-for="Password"></span>
                                        </div>
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input asp-for="IsPersistent">
                                                <label asp-for="IsPersistent">Remember me</label>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit" class="default-btn">sign up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Register end --> 